
# Proyecto de aprendizaje surpervisado: Clasificación

Integrantes: 

- Luisa F. Giraldo 
- Juan S. Guzmán

Con este proyecto aprenderemos como construir, entrenar y evaluar un modelo que resuelva una tarea de clasificación. Utilizaremos diversas librerías para la manipulación, análisis, visualización, modelado y evaluación de los datos.

## 1. Librerías

In [2]:
# Importar librerías

# Manejo de analísis de datos a través de dataframes (data tabular)
import pandas as pd
# Manipulación de arreglos y análisis numérico
import numpy as np
# Visualización de datos
import seaborn as sns
# Visualización de datos
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

## 2.Diccionaro de datos

1. country / city 
2. age 
3. sex
4. chest pain type (4 values)
5. resting blood pressure
6. serum cholestoral in mg/dl
7. fasting blood sugar > 120 mg/dl
8. resting electrocardiographic results (values 0,1,2)
9. maximum heart rate achieved
10. exercise induced angina
11. oldpeak = ST depression induced by exercise relative to rest
12. the slope of the peak exercise ST segment
13. number of major vessels (0-3) colored by flourosopy
14. thal: 0 = normal; 1 = fixed defect; 2 = reversable defect
15. target

## 3. Lectura de los datos

In [9]:
df = pd.read_csv(r'DatosCorazon.csv', sep=';', names=['location', 'age', 'sex', 'chestpain_type', 'resting_blood_pressure', 'cholesterol', 
                                                      'blood_sugar', 'ekg','max_bpm', 'angina', 'oldpeak', 'peak_slope', 'n_vessels', 'thal', 'target' ])
df

,location,age,sex,chestpain_type,resting_blood_presure,cholesterol,blood_sugar,ekg,max_bpm,angina,oldpeak,peak_slope,n_vessels,thal,target
0,Cleveland,63.0,1,1,145.0,233.0,1,2,150.0,0,2.3,3,0,6,0
1,Cleveland,67.0,1,4,160.0,286.0,0,2,108.0,1,1.5,2,3,3,2
2,Cleveland,67.0,1,4,120.0,229.0,0,2,129.0,1,2.6,2,2,7,1
3,Cleveland,37.0,1,3,130.0,250.0,0,0,187.0,0,3.5,3,0,3,0
4,Cleveland,41.0,0,2,130.0,204.0,0,2,172.0,0,1.4,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,Suiza,70.0,1,4,115,0,0,1,92,1,0,2,?,7,1
716,Suiza,70.0,1,4,140,0,1,0,157,1,2,2,?,7,3
717,Suiza,72.0,1,3,160,0,?,2,114,0,1.6,2,2,?,0
718,Suiza,73.0,0,3,160,0,0,1,121,0,0,1,?,3,1
719,Suiza,74.0,1,2,145,0,?,1,123,0,1.3,1,?,?,1

## 4. Análisis Exploratorio de Datos

- Limpieza de datos
- Exploración de datos
- Ingeniería de datos

### 4.1. Limpieza de los datos

Identificamos tipos de datos y datos faltantes o nulos.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location               720 non-null    object
 1   age                    720 non-null    float64
 2   sex                    720 non-null    int64
 3   chestpain_type         720 non-null    int64
 4   resting_blood_presure  720 non-null    object
 5   cholesterol            720 non-null    object
 6   blood_sugar            720 non-null    object
 7   ekg                    720 non-null    object
 8   max_bpm                720 non-null    object
 9   angina                 720 non-null    object
 10  oldpeak                720 non-null    object
 11  peak_slope             720 non-null    object
 12  n_vessels              720 non-null    object
 13  thal                   720 non-null    object
 14  target                 720 non-null    int64
dtypes: float64(1), int64(3), object(11)
memory usage: 84.5+ KB

In [11]:
df.isnull().sum()

location                 0
age                      0
sex                      0
chestpain_type           0
resting_blood_presure    0
cholesterol              0
blood_sugar              0
ekg                      0
max_bpm                  0
angina                   0
oldpeak                  0
peak_slope               0
n_vessels                0
thal                     0
target                   0
dtype: int64

Como vemos no existen datos faltantes, pero debemos revisar si existen entradas con datos erróneos o no esperados para la variable.

In [12]:
df.head()

,location,age,sex,chestpain_type,resting_blood_presure,cholesterol,blood_sugar,ekg,max_bpm,angina,oldpeak,peak_slope,n_vessels,thal,target
0,Cleveland,63.0,1,1,145.0,233.0,1,2,150.0,0,2.3,3,0,6,0
1,Cleveland,67.0,1,4,160.0,286.0,0,2,108.0,1,1.5,2,3,3,2
2,Cleveland,67.0,1,4,120.0,229.0,0,2,129.0,1,2.6,2,2,7,1
3,Cleveland,37.0,1,3,130.0,250.0,0,0,187.0,0,3.5,3,0,3,0
4,Cleveland,41.0,0,2,130.0,204.0,0,2,172.0,0,1.4,1,0,3,0

In [13]:
df.tail()

,location,age,sex,chestpain_type,resting_blood_presure,cholesterol,blood_sugar,ekg,max_bpm,angina,oldpeak,peak_slope,n_vessels,thal,target
715,Suiza,70.0,1,4,115,0,0,1,92,1,0,2,?,7,1
716,Suiza,70.0,1,4,140,0,1,0,157,1,2,2,?,7,3
717,Suiza,72.0,1,3,160,0,?,2,114,0,1.6,2,2,?,0
718,Suiza,73.0,0,3,160,0,0,1,121,0,0,1,?,3,1
719,Suiza,74.0,1,2,145,0,?,1,123,0,1.3,1,?,?,1

Como lo intuimos anteriormente, existen entradas no esperadas para las distintas variables registrando '?', por lo que debemos asegurarnos en cuántas variables estos sucede y cuántas veces por cada una.

In [14]:
for var in df.select_dtypes(include=['object']).columns:
    cantidad = df[df[var] == '?'][var].count()
    print(f"Existen {cantidad} valores en {var} con el valor ?")

Existen 0 valores en location con el valor ?
Existen 3 valores en resting_blood_presure con el valor ?
Existen 23 valores en cholesterol con el valor ?
Existen 83 valores en blood_sugar con el valor ?
Existen 2 valores en ekg con el valor ?
Existen 2 valores en max_bpm con el valor ?
Existen 2 valores en angina con el valor ?
Existen 6 valores en oldpeak con el valor ?
Existen 207 valores en peak_slope con el valor ?
Existen 413 valores en n_vessels con el valor ?
Existen 320 valores en thal con el valor ?

Como vemos, varias variables que en su naturaleza son numéricas presentan registros con '?'. Vemos que las variables 'peak_slope', 'n_vessel,'thal'  presentan los mayores registros erroneos; sin embargo, al ser datos usados para la predicción de casos médicos, se decide eliminar las variables y no hacer imputaciones de tan alto número de lineas.